body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #00264d, #4d94ff);
}

main {
  width: 90%;
  text-align: center;
}

h1 {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"]::placeholder {
  text-align: center;
}

input[type="text"] {
  width: 50%; /* Reduzindo a largura */
  height: 30px; /* Reduzindo a altura */
  padding: 8px; 
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}

.error {
  color: #ff4d4d; /* Vermelho mais suave */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito para tornar o texto mais forte */
  margin-top: 10px; /* Espaçamento maior acima da mensagem de erro */
  display: block; /* Garante que a mensagem de erro ocupe uma linha inteira */
  animation: blink 1s infinite alternate; /* Adiciona a animação de piscar */
}

@keyframes blink {
  from { opacity: 0; } /* Define a opacidade inicial como 0 */
  to { opacity: 1; } /* Define a opacidade final como 1 */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.95);
}

p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"] {
    width: 90%;
    background-color: #000000;
  }

  button[type="button"] {
  background-color: #000000; /* Preto */
  }

  button {
    padding: 10px 20px;
    background-color: #000000; /* Preto */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 90%;
  }

  button:hover {
    background-color: #0056b3; /* Mesma cor de fundo ao passar o mouse */
  }

  button:active {
    transform: scale(0.95);
  }
}

@media only screen and (min-width: 599px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"] {
    width: 90%;
    background-color: #000000;
  }

  button[type="button"] {
  background-color: #000000; /* Preto */
  }

  button {
    padding: 10px 20px;
    background-color: #000000; /* Preto */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 90%;
  }

  button:hover {
    background-color: #0056b3; /* Mesma cor de fundo ao passar o mouse */
  }

  button:active {
    transform: scale(0.95);
  }
}
