body{
  background: linear-gradient(50deg,#3498db, #2ecc71);
}

h1 {
  text-align: center;
  font-variant: small-caps;
}
main {
  text-shadow: #2ecc71 0.1em 0.1em;
  font-family: "Arial";
}
div {
  margin: auto;
}

div > div {
  margin-bottom: 15px;
}

input {
  border-radius: 10px;
  border-color: aqua;
  border: inset;
  margin-left: 10px;
}

button {
  display: block;
  margin: auto;
  margin-top: 20px;
}

p {
  font-size: 1.5em;
  color: white;
  transition: ease-in-out .5s;
}