body {
  background: linear-gradient(50deg, #3498db, #2ecc71);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-variant: small-caps;
  color: #fff;
}

main {
  text-shadow: #2ecc71 1px 1px;
}

div {
  width: 80%; /* ou qualquer largura desejada */
  margin: auto; /* centraliza horizontalmente */
  max-width: 600px; /* mantém o máximo de largura para evitar esticar demais em telas grandes */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #2ecc71;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2ecc71;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

p {
  font-size: 2em;
  color: black;
  text-align: center;
}

.error {
  color: #ff0000; /* Cor vermelha para mensagens de erro */
  margin-top: 5px;
}

/* Adicionando uma classe para as mensagens de feedback */
.feedback-message {
  color: #a01010;
  margin-top: 10px;
}
